

@import url('https://fonts.googleapis.com/css?family=Asset&display=swap');

/*This applies from 0px to 600px --> MOBILE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
}

html,
body {
	height: 100vh;
}

body {
	background: darksalmon;
  
	color: #141414;
}

.container {
  display: flex;
}

.header {
  background: rgb(29, 92, 185);
  height: 15vh;
}

.sider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  background: darkmagenta;
  height: 80vh;
}
.siderSearch{
 width:100%;
}
/* Icons */

.currencyIcons{
  display: flex;
  justify-content: center;
  align-items: center;
width:50%;

}




.Icon{
max-width: 100px;
}

.Icon:hover{
  -webkit-filter: invert(100%) !important;
  transform: scale(1.2);
  transition: all  ease-in-out .2s;
}



.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background:lightblue;
  height: 80vh;
}

.diplayedCurrencies{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
 }






.footer {
  background: maroon;
  height: 10vh;
}




/* This applies from 600px onwards --> DESKTOP */
@media (min-width: 600px) {
  	html,
    body {
      background: yellow;
    }
  
  .sider,
  .main {
    float: left;
    height: 75vh;
  }
  
  .sider {
    width: 25%;
  }

  .currencyIcons{

    width:100%;
    }
    .Icon{
      max-width: 75px;
      }
  
  
  .main {
    width: 75%;
  }
  
  .footer {
    clear: both;
  }
}